[Unit]
Description=Simple Network Management Protocol (SNMP) Daemon.
After={{ librenms_agent_service_after }}
ConditionPathExists=/etc/snmp/snmpd.conf

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/run/agentx
ExecStart=/usr/sbin/snmpd -LOw -u Debian-snmp -g Debian-snmp -I -smux,mteTrigger,mteTriggerConf -f -p /run/snmpd.pid
ExecReload=/bin/kill -HUP $MAINPID
Environment="PATH={{ librenms_agent_python_venv_path }}/bin:{{ ansible_env.PATH }}"

[Install]
WantedBy=multi-user.target