#{{ ansible_managed }}

########################################################################
# AGENT BEHAVIOR

{% if librenms_agent_address is defined %}
agentAddress {{ librenms_agent_address }}
{% endif %}

# do not log udp requests
dontLogTCPWrappersConnects {{ librenms_agent_dont_log_tcp_wrapper_connects }}

# skip NFS to avoid snmpd issues with pve and other hosts
skipNFSInHostResources true


{% if librenms_agent_snmp_ignoredisk | length > 0 %}
# ignore disks
{% for ignoredisk in librenms_agent_snmp_ignoredisk %}
ignoredisk {{ ignoredisk }}
{% endfor %}
{% endif %}

########################################################################
# ACCESS CONTROL
# ------------------------------------------------------------------------------

createUser {{ librenms_agent_snmp_user | mandatory }} MD5 {{ librenms_agent_snmp_password | mandatory }} DES {{ librenms_agent_snmp_encryption | mandatory }}

rouser {{ librenms_agent_snmp_user | mandatory }} priv

{% for rocommunity in librenms_agent_snmp_rocommunities %}
rocommunity {{ rocommunity }}
{% endfor %}

################################################################################
# SYSTEM INFORMATION

# ------------------------------------------------------------------------------
# System Group

sysLocation {{ librenms_agent_snmp_syslocation | mandatory }}
sysContact {{ librenms_agent_snmp_syscontact | mandatory }}
sysName {{ librenms_agent_snmp_sysname | mandatory }}

{% if librenms_agent_custom_block is defined %}
###############################################################################
# Custom librenms agent block via librenms_agent_custom_block
{{ librenms_agent_custom_block | default('') }}
{% endif %}

###############################################################################
# Extensions

{% for extension in librenms_agent_snmp_extensions %}
{% if extension.state | default('present') == 'present' %}
#{{ extension.comment | default('') }}
{% if extension.script is defined  %}
extend {{ extension.name }} {{ extension.script_prefix | default("") }}{{ librenms_agent_snmp_snmpd_extends_dir }}/{{ extension.script }} {{ extension.args|default('') }}
{% elif extension.executable is defined %}
extend {{ extension.name }} {{ extension.executable }} {{ extension.args|default('') }}
{% endif %}
{% endif %}
{% endfor %}

###############################################################################
# Pass persist extensions

{% for pass_persist in librenms_agent_snmp_pass_persists %}
#{{ pass_persist.comment | default('') }}
#pass_persist {{ pass_persist.miboid }} {{ pass_persist.script }}
{% endfor %}